<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.TIRAMISU_NOTIFICATION_DELEGATION" />

    <application>
        <service
            android:name=".CallStateService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />
    </application>
</manifest>
